In [2]:
import pandas as pd

In [10]:
folderlocation = "D:/PycharmProjects/TerraBot/terra-mystica"
gamesraw = pd.read_csv(f'{folderlocation}/games.csv')
gamesraw.head()

,base_map,game,last_update,player_count
0,126fe960806d587c78546b30f1a90853b1ada468,0000000001,2015-07-22 05:15:51,2
1,be8f6ebf549404d015547152d5f2a1906ae8dd90,050615,2015-07-13 09:45:00,4
2,126fe960806d587c78546b30f1a90853b1ada468,0512,2015-07-03 04:17:31,4
3,126fe960806d587c78546b30f1a90853b1ada468,051501,2015-07-16 21:00:54,5
4,95a66999127893f5925a5f591d54f8bcb9a670e6,060303,2015-07-02 05:20:19,4

In [11]:
gamesraw.base_map.value_counts()

126fe960806d587c78546b30f1a90853b1ada468    77158
95a66999127893f5925a5f591d54f8bcb9a670e6    21052
be8f6ebf549404d015547152d5f2a1906ae8dd90    16184
fdb13a13cd48b7a3c3525f27e4628ff6905aa5b1     1210
224736500d20520f195970eb0fd4c41df040c08c        3
735b073fd7161268bb2796c1275abda92acd8b1a        2
c07f36f9e050992d2daf6d44af2bc51dca719c46        1
30b6ded823e53670624981abdb2c5b8568a44091        1
b109f78907d2cbd5699ced16572be46043558e41        1
Name: base_map, dtype: int64

In [7]:
def select_games():
    """We want games that:
    1. Only use the original map
    2. Only have 4 players
    3. Have original tiles selected ...?
    """


    folderlocation = "D:/PycharmProjects/TerraBot/terra-mystica"

    games = pd.read_csv(f'{folderlocation}/games.csv')

    """
    input: 
    >> stats.base_map.value_counts(ii)
    Output:
    126fe960806d587c78546b30f1a90853b1ada468    0.667387  << this guy's our guy
    95a66999127893f5925a5f591d54f8bcb9a670e6    0.182092
    be8f6ebf549404d015547152d5f2a1906ae8dd90    0.139985
    fdb13a13cd48b7a3c3525f27e4628ff6905aa5b1    0.010466
    224736500d20520f195970eb0fd4c41df040c08c    0.000026
    735b073fd7161268bb2796c1275abda92acd8b1a    0.000017
    b109f78907d2cbd5699ced16572be46043558e41    0.000009
    c07f36f9e050992d2daf6d44af2bc51dca719c46    0.000009
    30b6ded823e53670624981abdb2c5b8568a44091    0.000009
    Name: base_map, dtype: float64"""

    # only use games that have the original map
    processedstats = games[games['base_map'] == '126fe960806d587c78546b30f1a90853b1ada468']

    # only use games that have 4 players
    processedstats = processedstats[processedstats['player_count'] == 4]

    # remove nas
    selectedgames = processedstats[~processedstats.isnull().any(axis=1)]

    return selectedgames

So it turns out:
91645cdb135773c2a7a50e5ca9cb18af54c664c4 is the same map as 126f... only there are the following starting vp for each faction:  
fakirs	33  
alchemists	27  
auren	27  
giants	25  
dragonlords	24  
acolytes	23  
swarmlings	22  
shapeshifters	22  
yetis	22  
riverwalkers	21  
dwarves	20  
icemaidens	20  
halflings	20  
chaosmagicians	19  
mermaids	19  
nomads	19  
witches	19  
engineers	16  
cultists	16  
darklings	15  

With 126f..., all the factions just start with the base 20. We can use both maps if we deducted/added the point difference from 916, or vice versa. That way we can use this picker for both map layouts.

This information can be found if you go to the website and then click on "NewGame." From there, you can view each map.

In [48]:
factionvp = {'fakirs': 33, 
'alchemists':	27,
'auren':	27,
'giants':	25,  
'dragonlords':	24,  
'acolytes':	23,  
'swarmlings':	22,  
'shapeshifters':	22,  
'yetis':	22,  
'riverwalkers':	21,  
'dwarves':	20,  
'icemaidens':	20,  
'halflings':	20,  
'chaosmagicians':	19,  
'mermaids':	19,  
'nomads':	19,  
'witches':	19,  
'engineers':	16,  
'cultists':	16,  
'darklings':	15}

In [9]:
selectedgames = select_games()
len(selectedgames)

48737

In [12]:
gamesscoretiles = pd.read_csv(f'{folderlocation}/game_scoring_tiles.csv')
gamesscoretiles.head()

         game  round    tile
0  0000000001      3  SCORE1
1  0000000001      6  SCORE5
2  0000000001      5  SCORE4
3  0000000001      1  SCORE8
4  0000000001      2  SCORE3

What does SCORE1, SCORE5, etc relate to? Which scores? And are there added scores that don't come from the vanilla set? Do we want to keep those?

In [16]:
# trying to find the game so that we can look at the round tiles used & correlated to what's on snellman is posing issues
selectedgames[selectedgames['game'] == 'jsnell19']

,base_map,game,last_update,player_count
50412,126fe960806d587c78546b30f1a90853b1ada468,jsnell19,2013-10-30 22:01:28,3

In [18]:
# ah we must have filtered these ones out (need to look into why) (EDIT: it's because it was a 3 player game. duh.)
gamesraw[gamesraw['game'] == 'jsnell19']

,base_map,game,last_update,player_count
50412,126fe960806d587c78546b30f1a90853b1ada468,jsnell19,2013-10-30 22:01:28,3

In [19]:
gamesscoretiles[gamesscoretiles['game'] == 'jsnell19']

            game  round    tile
302472  jsnell19      1  SCORE6
302473  jsnell19      2  SCORE5
302474  jsnell19      3  SCORE4
302475  jsnell19      5  SCORE7
302476  jsnell19      6  SCORE3
302477  jsnell19      4  SCORE2

Great! So that works. Let's have a look...  
SCORE2 = TOWN >> 5  
SCORE3 = D >> 2  
SCORE4 = SA/SH >> 5  
SCORE5 = D >> 2  
SCORE6 = TP >> 3  
SCORE7 = SA/SH >> 5

In [21]:
# hm. How many scores do we have to do?
pd.unique(gamesscoretiles['tile'])

array(['SCORE1', 'SCORE5', 'SCORE4', 'SCORE8', 'SCORE3', 'SCORE2',
       'SCORE6', 'SCORE7', 'SCORE9'], dtype=object)

In [22]:
gamesscoretiles[gamesscoretiles['game'] == 'CatGeorgeGuyJames']

                     game  round    tile
243744  CatGeorgeGuyJames      5  SCORE6
243745  CatGeorgeGuyJames      4  SCORE9
243746  CatGeorgeGuyJames      3  SCORE4
243747  CatGeorgeGuyJames      2  SCORE7
243748  CatGeorgeGuyJames      1  SCORE8
243749  CatGeorgeGuyJames      6  SCORE2

In [24]:
gamesscoretiles[gamesscoretiles['game'] == 'GuyJamesChari']

                 game  round    tile
484152  GuyJamesChari      1  SCORE1
484153  GuyJamesChari      6  SCORE9
484154  GuyJamesChari      2  SCORE5
484155  GuyJamesChari      3  SCORE4
484156  GuyJamesChari      5  SCORE7
484157  GuyJamesChari      4  SCORE8

So to get all tiles:  
SCORE1 = SPADE >> 2  
SCORE2 = TOWN >> 5  
SCORE3 = D >> 2  
SCORE4 = SA/SH >> 5  
SCORE5 = D >> 2  
SCORE6 = TP >> 3  
SCORE7 = SA/SH >> 5  
SCORE8 = TP >> 3  
SCORE9 = TE >> 4

COOL. So now we've got the map figured out, we've got the scoring tiles, what about the bonus tiles?

In [27]:
# this one?
game_options = pd.read_csv(f'{folderlocation}/game_options.csv')
game_options.head(10)

         game                          option
0  0000000001       option-strict-darkling-sh
1  0000000001             option-email-notify
2  0000000001           option-shipping-bonus
3  0000000001  option-strict-chaosmagician-sh
4  0000000001     option-errata-cultist-power
5  0000000001         option-mini-expansion-1
6  0000000001             option-strict-leech
7      050615             option-email-notify
8      050615  option-strict-chaosmagician-sh
9      050615     option-errata-cultist-power

In [28]:
# nope. This one?
game_eventsraw = pd.read_csv(f'{folderlocation}/game_events.csv')

In [33]:
# game_eventsraw.query('game == GuyJamesChari & round == 1')
singlegame = game_eventsraw[(game_eventsraw['game'] == 'GuyJamesChari')]

In [34]:
print(pd.unique(singlegame['round']))

[2 6 1 5 3 4 0]

In [35]:
# ah so there's a round 0
singlegame[singlegame['round'] == 0]

              event    faction           game  num  round  turn
51548368  pass:BON1     nomads  GuyJamesChari    1      0     0
51548421    build:D     nomads  GuyJamesChari    3      0     0
51548516  pass:BON8  engineers  GuyJamesChari    1      0     0
51548560    build:D  engineers  GuyJamesChari    2      0     0
51548663  pass:BON5   cultists  GuyJamesChari    1      0     0
51548709    build:D   cultists  GuyJamesChari    2      0     0
51548824  pass:BON1        all  GuyJamesChari    1      0     0
51548904  pass:BON5        all  GuyJamesChari    1      0     0
51548908  pass:BON8        all  GuyJamesChari    1      0     0
51548996    build:D        all  GuyJamesChari    7      0     0

In [45]:
uniqueroundzero = pd.unique(game_eventsraw[game_eventsraw['round'] == 0]['event'])
print(sorted(uniqueroundzero))

['build:D', 'burn', 'drop', 'favor:FAV1', 'favor:FAV10', 'favor:FAV11', 'favor:FAV12', 'favor:FAV2', 'favor:FAV3', 'favor:FAV4', 'favor:FAV5', 'favor:FAV6', 'favor:FAV7', 'favor:FAV8', 'favor:FAV9', 'favor:any', 'pass:BON1', 'pass:BON10', 'pass:BON2', 'pass:BON3', 'pass:BON4', 'pass:BON5', 'pass:BON6', 'pass:BON7', 'pass:BON8', 'pass:BON9', 'pick-color:black', 'pick-color:blue', 'pick-color:brown', 'pick-color:gray', 'pick-color:green', 'pick-color:red', 'pick-color:yellow', 'vp']

So we have:  
pass:BON1  
pass:BON2  
pass:BON3  
pass:BON4  
pass:BON5  
pass:BON6  
pass:BON7  
pass:BON8  
pass:BON9  
pass:BON10

In [46]:
roundzero = game_eventsraw[game_eventsraw['round'] == 0]['event']
roundzero.value_counts()

build:D              521098
pass:BON1            147180
pass:BON5            131920
pass:BON8            131380
pass:BON6            125152
pass:BON4             90158
pass:BON2             65968
pass:BON3             56990
pass:BON7             22648
pass:BON10            21978
pick-color:green      20348
favor:any             16764
pick-color:red        14510
pass:BON9             14310
pick-color:brown      11348
pick-color:black      10538
pick-color:yellow      9716
pick-color:blue        9124
pick-color:gray        8998
favor:FAV8             6386
drop                   5304
favor:FAV7             3754
favor:FAV11            2572
favor:FAV9             1854
favor:FAV6             1158
favor:FAV10             832
vp                      198
favor:FAV5               66
favor:FAV2               42
favor:FAV12              30
favor:FAV4               28
favor:FAV1               24
favor:FAV3               18
burn                      2
Name: event, dtype: int64

Mad how those top 4-5 passes really dominate use in games. Why is that?!

# Making the data for faction picker

Including maps that aren't the base map might add noise. For now, we're just going to use the original map,
without the vp adjustments, as we can add those back in in the end and allow the user to pick whether they're 
going to use the vp adjustments or not.  
  
Steps:  
1. find all games associated with the correct maps and filter the round tiles, bonus tiles, end scoring tiles so that it only includes these
2. Adjust the map with adjusted vp back to the original "all factions start on 20 vp" map
3. Make the X dataset - one-hot vectors of round tiles + one-hot vectors of bonus tiles + already picked factions (if available)
    3.a would be interesting to make 2 models: 1 with just one-hot for factions - 14 different one-hots - and another for, not factions, but colour of faction away from target faction.       Dunno how we'd do this if we didn't have a target faction in mind (I guess we do - for each faction we're trying to make a prediction. But, for each faction, how do we define         distance away from them? Would need a custom net for each faction...
4. make the Y dataset - we only want a sub-set of the labels to be trained at each point this makes it harder. Will need a variation of multi-output classification

Where the scores at?

In [53]:
ratingsplayerfactions = pd.read_csv(f'{folderlocation}/ratings_player_factions.csv')
ratingsplayerfactions.head()

   count      faction      score username
0      1       nomads -10.684745     jlub
1      1  dragonlords  17.110632     jlub
2      1        auren  -7.954213     jlub
3      3    halflings   4.988431     jlub
4      2    engineers -30.141629     jlub

In [52]:
ratingsplayerfactions[ratingsplayerfactions['username'] == 'supercoolfred']

       count         faction       score       username
22343     11         witches  132.430586  supercoolfred
22344     12      swarmlings  107.561204  supercoolfred
22345     15       darklings   49.203350  supercoolfred
22346     14          giants  133.066701  supercoolfred
22347      2      icemaidens  -55.000098  supercoolfred
22348     17  chaosmagicians  -25.166792  supercoolfred
22349      6        mermaids   28.002965  supercoolfred
22350      5      alchemists  -20.126353  supercoolfred
22351      7       halflings  -18.743759  supercoolfred
22352      4       engineers   -3.570118  supercoolfred
22353      2        cultists   -9.981106  supercoolfred
22354      1           auren    4.691077  supercoolfred
22355      5     dragonlords   -6.931958  supercoolfred
22356      7          nomads  -35.635097  supercoolfred
22357      2          fakirs  -48.784358  supercoolfred
22358      8         dwarves  -92.408090  supercoolfred
22359      4           yetis   63.919897  supercoolfred

In [56]:
singlegame[(singlegame['round'] == 6) & (singlegame['turn'] == max(singlegame['turn']))]

         event    faction           game  num  round  turn
51548339    vp     nomads  GuyJamesChari   29      6    10
51548431    vp  engineers  GuyJamesChari   50      6    10
51548490  burn  engineers  GuyJamesChari    2      6    10
51548573    vp   cultists  GuyJamesChari   27      6    10
51548643  burn   cultists  GuyJamesChari    1      6    10
51548726    vp        all  GuyJamesChari  106      6    10
51548842  burn        all  GuyJamesChari    3      6    10

In [57]:
stats = pd.read_csv(f'{folderlocation}/stats.csv')
stats.head()

,average_margin,average_position,average_vp,average_winner_vp,count,expected_wins,faction,final_scoring,high_score_game,high_score_player,high_score_time,high_score_vp,map,min_rating,player_count,start_position,wins
0,57.000000,4,309,337,2,0.666667,alchemists,expansion,Wargames52,BravePawn,2017-03-30 19:36:16,189,be8f6ebf549404d015547152d5f2a1906ae8dd90,0,3,middle,1.000000
1,28.666667,2,145,155,1,0.250000,darklings,expansion,gareth45,Lachlan,2014-05-12 12:12:43,145,30b6ded823e53670624981abdb2c5b8568a44091,0,4,last,0.000000
2,-36.500000,50,2978,3498,25,8.333333,mermaids,original,4pLeague_S8_D6L5_G7,koralgol,2015-09-12 09:41:11,159,126fe960806d587c78546b30f1a90853b1ada468,0,3,first,8.333333
3,9.000000,10,466,511,4,1.000000,darklings,original,TourRulesFeI02,vanmorrison,2017-03-20 19:41:33,124,be8f6ebf549404d015547152d5f2a1906ae8dd90,0,4,second,1.000000
4,-14.000000,2,135,149,1,0.500000,giants,expansion,CEE008,Favela,2017-10-15 21:28:54,135,fdb13a13cd48b7a3c3525f27e4628ff6905aa5b1,0,2,last,0.000000

In [58]:
len(stats)

74377

In [60]:
len(gamesraw)

115612

In [59]:
gamefactions = pd.read_csv(f'{folderlocation}/game_factions.csv')
gamefactions.head()

         game          name         player
0  0000000001     halflings          jgdur
1  0000000001      mermaids  circlinglines
2      050615  riverwalkers       Totonono
3      050615     darklings         harubz
4      050615   dragonlords        pagurus